{#
/**
 * @file
 * FSA theme override for Content promo paragraph field.
 *
 * Additional variables:
 * - item.image_as_background: Promo image element as background
 *
 * Note: variable|render|striptags|trim to avoid issues with twig debugging turned on.
 *
 * @see fsa_lander_preprocess_field()
 * @see template_preprocess_field()
 */
#}
{% set content_class = 'promo__content' %}
<div{{ attributes.addClass('promo-listing') }}>
  {% for item in items %}
    <div class="promo-listing__item">
      <div class="promo-wrapper">
        {% if item.content.field_link|render|striptags|trim and not item.content.field_link_list|render|striptags|trim %}
          <a href="{{ item.content.field_link|render|striptags|trim }}" {{ item.attributes }}>
            {% if item.image_as_background %}
              {{ item.image_as_background }}
            {% endif %}
            <div class="{{ content_class }}">
              {{ item.content|without('field_link') }}
            </div>
          </a>
        {% else %}
          <div{{ item.attributes }}>
            {% if item.image_as_background %}
              {{ item.image_as_background }}
            {% endif %}
            <div class="{{ content_class }}">
              {{ item.content|without('field_link') }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>