<h2>{{ 'Food safety team details'|t }}</h2>
<p>{{ 'Please report your issue directly to '|t }}<a href="{{ advice_url }}">{{ name ~ ' food safety team'|t }}</a>.</p>
<p><a href="{{ back }}">{{ 'Back'|t }}</a></p>
