{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(items, attributes) }}

{% macro menu_links(items, attributes, menu_level, firstItem, randomID) %}
  {% import _self as menus %}

  {% if items %}

    <ul
      id="collapsible-{{ randomID }}"
      class="{{ 'navigation__menu navigation__menu--level-' ~ (menu_level + 1) }}
        {% if menu_level != 0 %} js-nav-menu{% endif %}"
      {{ attributes.setAttribute('data-menu-level', (menu_level + 1)) }}>

    {% if menu_level != 0 %}
      <li class="navigation__header">
        <button
          class="navigation__back-link js-nav-back-link"
          aria-expanded="false"
          aria-controls="collapsible-{{ randomID }}">
          <span class="visually-hidden">Back</span>
        </button>
      </li>
    {% endif %}

    {% if menu_level == 1 %}
      <a
        href="{{ firstItem.url }}"
        title="{{ firstItem.title }}"
        class="{{ 'navigation__assistive-link navigation__assistive-link--level-1' }} visually-hidden"
        tabindex="-1"
        >{{ firstItem.title }}</a>
    {% endif %}

    {% for item in items %}

      {% set randomID = [] %}
      {% for i in 1..10 %}
          {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
          {% set alphaUpper = alpha|upper %}
          {% set numbers = '0123456789' %}
          {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
          {% set randomID = randomID|merge([randomCharacter]) %}
      {% endfor %}
      {% set randomID = randomID|join %}

      {%
      set item_classes = [
        item.is_expanded ? 'has-child',
        item.in_active_trail ? 'active-trail',
        item.is_collapsed ? 'menu-item-collapsed',
      ]
      %}

      <li{{ item.attributes.addClass(item_classes, 'navigation__item navigation__item--level-' ~ (menu_level + 1)).setAttribute('data-menu-level', (menu_level + 1)) }}>
        {% if item.url|render|striptags|trim %}

          {% if menu_level == 0 and item.is_expanded %}
            <button
              class="{{ 'navigation__toggle navigation__toggle--level-' ~ (menu_level + 1) }}{% if (item.is_expanded) %} js-nav-item-toggler{% endif %} visually-hidden"
              {% if (item.is_expanded) %}
                aria-controls="collapsible-{{ randomID }}"
                tabindex="-1"
              {% endif %}
            >{{ item.title }}</button>
          {% endif %}

          <a
            href="{{ item.url }}"
            title="{{ item.title }}"
            class="{{ 'navigation__link navigation__link--level-' ~ (menu_level + 1) }}{% if (item.is_expanded) %} js-nav-item-with-child{% endif %}"
            {% if menu_level == 0 and item.is_expanded %}aria-hidden="true"{% endif %}
            >{{ item.title }}</a>

        {% else %}
          <button
            title="{{ item.title }}"
            class="{{ 'navigation__link navigation__link--level-' ~ (menu_level + 1) }}{% if (item.is_expanded) %} js-nav-item-with-child{% endif %}"
            {% if (item.is_expanded) %}
              aria-controls="collapsible-{{ randomID }}"
            {% endif %}
          >{{ item.title }}</button>

          <span
            class="{{ 'navigation__heading navigation__heading--level-' ~ (menu_level + 1) }} visually-hidden"
          >{{ item.title }}</span>
        {% endif %}

          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, item, randomID) }}
          {% endif %}
      </li>
    {% endfor %}

    </ul>
  {% endif %}

{% endmacro %}
