{#
/**
 * @file
 * Theme override to display a news promo.
 *
 * @see template_preprocess_node()
 *
 */
#}
<div class="promo-wrapper">
  <a href="{{ url }}" {{ attributes.addClass(['promo', 'promo--light', 'promo-wrapper--full-height']) }}>
    {% if content.field_news_type %}
      <h3 class="promo__type">
        {{ content.field_news_type }}
      </h3>
    {% endif %}
    {{ title_prefix }}
    {% if not page %}
      <div{{ title_attributes }} class="promo__content">
        {{ label }}
      </div>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {{ content|without('field_news_type') }}
    </div>

    <div class="promo__date">{{ date }}</div>
  </a>
</div>