{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}
<a href="{{ url }}" rel="bookmark" {% if content.field_liftup_summary %}class="promo promo--inline-content promo--with-summary"{% else %}class="promo promo--inline-content"{% endif %}>
  {% if content.group_teaser_image %}
    <div class="promo__icon">
      {{ content.group_teaser_image }}
    </div>
  {% endif %}

  <div class="promo__content">
    <header class="promo__header">
      <h3{{ title_attributes }} class="promo__heading">{{ label }}</h3>
    </header>
    <div class="promo__intro">
      {% if content.field_liftup_summary|length > 2 %}
        {{ content|without('group_teaser_image') }}
      {% endif %}
    </div>
  </div>

  <div class="promo__read-more" aria-hidden="true">
    <div class="svg">
      {{ include('/themes/custom/fsa/template/base/svg-sprite.html.twig', {icon_id: 'contact-arrow-icon'}) }}
    </div>
  </div>
</a>

