{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - guide_title: The title of the multi page guide the page is a part of
 */
#}
{% if this_is_guide %}
  <div class="guide__title__wrapper">
    <h1{{ title_attributes }}>
      <span class="guide__title">{{ title }}</span>
    </h1>
  </div>
{% elseif guide_title %}
  <div class="guide__title__wrapper">
    <h1{{ title_attributes }}>
      <span class="guide__title">{{ guide_title }}</span>
      {{ title }}
    </h1>
  </div>
{% elseif title %}
  <h1{{ title_attributes }}>{{ title }}</h1>
{% endif %}
{{ title_prefix }}
{{ title_suffix }}
