<div class="ratings {% if form_header.copy %}ratings--frontpage{% endif %} js-sticky-container">
  <div class="ratings__search {% if form_header.copy %}ratings__search--frontpage{% endif %} js-sticky-element">
    <div class="container container--search">
      <div class="logo svg">
        <svg role="presentation"><use xlink:href="/themes/custom/fsa/dist/sprite.svg#logo-desktop"></use></svg>
      </div>
      <h2 class="ratings__heading">{{ form_header.title }}
        {% if form_header.subtitle %}<br />{{ form_header.subtitle }}{% endif %}</h2>

      {% if form_header.copy %}
        <p class="lead">{{ form_header.copy }}</p>
      {% endif %}

      {{ form }}
    </div>
  </div>

  <div class="ratings__content {% if form_header.copy %}ratings__content--frontpage{% endif %}">
    {% if form_header.copy %}
      {{ ratings_info_content }}
    {% else %}
    <div class="ratings__listing">
      <header class="ratings__header">
        {% if sort_form %}
          <div class="ratings__hits-total">{{ hits_total }} {{ 'Results'|t }}</div>
          <div class="ratings__sort-form">{{ sort_form }}</div>
        {% endif %}
      </header>

      <div class="table js-table">
        <div class="table__row table__row--header js-table-header">
          <div class="table__item table__item--large">{% trans %}Name{% endtrans %}</div>
          <div class="table__item">{% trans %}Rating{% endtrans %}</div>
          <div class="table__item">{% trans %}Authority{% endtrans %}</div>
        </div>

        {{ items }}

        {% if hits_total > hits_shown %}
          <button>{% trans %}Show more results{% endtrans %}</button>
          {% trans %}Displaying {{ hits_shown }} of {{ hits_total }} items{% endtrans %}
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
