{#
/**
 * @file fsa_establishment.html.twig
 * Default theme implementation to present FSA Establishment entity
 *
 * Available variables (@see fsa_ratings_theme():
 * - id: Entity ID.
 * - url: URL to entity's canonical URL.
 * - view_mode: Used view mode.
 * - content: All fields from establishment entity.
 * - find_more_title: Title for "find more about ratings.
 * - find_more_link_ratings: Link to ratings meaning page.
 * - find_more_link_fhrs: Link to FHRS explanation page.
 * - righttoreply_title: Right to reply explanatory title
 * - righttoreply_copy: Right to reply explanatory copy
 * - business_owner_title: Title for business owner guidance.
 * - business_owner_copy1: Copy paragraph 1 for business owners.
 * - business_owner_copy2: Copy paragraph 1 for business owners.
 * - rating_badge_title: Title for "Get badge" heading.
 * - rating_badge_copy: "Get badge" explanation copy.
 * - rating_badge_cta: "Get badge" CTA link.
 * - copy_of_report_title: Heading for report copy explanation
 * - copy_of_report_copy: COpy text for report copy explanation
 *
 * @see template_preprocess_fsa_establishment()
 *
 * @ingroup themeable
 */
#}
{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<div class="ratings">

  <div class="ratings__content ratings__content--listing">
    <div class="establishment">
      <div class="establishment__container">
        <div class="peek">
          <div class="peek__container">
            <header class="ratings__header rating__header--back-link">
              {{ backlink }}
            </header>

            <h1 class="establishment__title">{{ content.name }}</h1>

            <div class="establishment__meta">
              <div class="establishment__rating">
                {{ rating_badge }}
                <h5>{{ find_more_title }}</h5>
                {{ find_more_link_ratings }}
                {{ find_more_link_fhrs }}
                </ul>
              </div>

              <div class="establishment__content">
                {% if content.field_address %}
                  <h4>{{ 'Address'|t }}</h4>
                  <p>{{ content.field_address }}</p>
                {% endif %}

                {% if content.field_postcode %}
                  <p>{{ content.field_postcode }}</p>
                {% endif %}

                {% if content.field_businesstype %}
                    <h4>{{ 'Business type'|t }}</h4>
                  <p>
                    {{ content.field_businesstype }}
                  </p>
                {% endif %}

                {% if content.field_ratingdate %}
                  <h4>{{ 'Inspection date'|t }}</h4>
                  <p>
                    {{ content.field_ratingdate }}
                  </p>
                {% endif %}

                {% if content.field_newratingpending %}
                  <div>{{ content.field_newratingpending }}</div>
                {% endif %}

                <p>
                  {{ content|without(
                  'field_geocode',
                  'field_localauthoritycode',
                  'field_righttoreply',
                  'field_score_hygiene',
                  'field_score_structural',
                  'field_score_confidence',
                  'field_score_hygiene',
                  'field_address',
                  'field_postcode',
                  'field_phone',
                  'field_ratingdate',
                  'field_businesstype',
                  'name'
                  ) }}
                </p>
              </div>
            </div>
          </div>

          {% if (content.field_geocode|length == 2) %}
          {% else %}
          <button class="establishment__button toggle-button" data-state="is-open" data-theme="dynamic" data-state-element="#collapsible-{{ randomID }}" aria-expanded="false" aria-controls="collapsible-{{ randomID }}">
            <div class="toggle-button__item toggle-button__item--presentation-icon svg">
              <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#map-icon"></use></svg>
            </div>
            <div class="toggle-button__item">{% trans %}Show on a map{% endtrans %}</div>
            <div class="toggle-button__item toggle-button__item--icon svg">
              <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#nav-arrow-icon"></use></svg>
            </div>
          </button>

          <div class="establishment__map toggle-content js-toggle-content" id="collapsible-{{ randomID }}" aria-hidden="true">
            <div class="establishment__map-element">
              {{ content.field_geocode }}
            </div>
          </div>
          {% endif %}
        </div>

        <div class="container container--content">
          {% if (content.field_score_hygiene|length == 2 and content.field_score_structural|length == 2 and content.field_score_confidence|length == 2) %}
          {% else %}
          <div class="table table--with-borders establishment__table js-table" role="grid">
            <div class="table__row table__row--header table__row--negative js-table-header" role="row">
              <div class="table__item table__item--large" role="columnheader">{{ 'Area inspected by food safety officer'|t }}</div>
              <div class="table__item" role="columnheader">{{ 'Standards found'|t }}</div>
            </div>
            {{ content.field_score_hygiene }}
            {{ content.field_score_structural }}
            {{ content.field_score_confidence }}
          </div>
          {% endif %}

          {% if content.field_righttoreply|render %}
              {{ content.field_righttoreply }}
              <h4>{{ righttoreply_title }}</h4>
              <p>{{ righttoreply_copy }}</p>
          {% endif %}

          <h3>{{ business_owner_title }}</h3>
          <p>{{ business_owner_copy1 }}</p>
          <p>{{ business_owner_copy2 }}</p>

          <h4>{{ rating_badge_title }}</h4>
          <p>{{ rating_badge_copy }}</p>
          {{ rating_badge_cta }}

          <h4>{{ copy_of_report_title }}</h4>
          <p>{{ copy_of_report_copy }}</p>

          <p>{{ content.field_localauthoritycode }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
