<div class="ratings js-sticky-container">
  <div class="ratings__search js-sticky-element">
    <div class="logo svg">
      <svg role="presentation"><use xlink:href="/themes/custom/fsa/dist/sprite.svg#logo-desktop"></use></svg>
    </div>
    <h3 class="ratings__heading">{{ form_header.title }}
      {% if form_header.subtitle %}<br />{{ form_header.subtitle }}{% endif %}</h3>

    {% if form_header.copy %}
      <p>{{ form_header.copy }}</p>
    {% endif %}

    {{ form }}
  </div>

  {{ ratings_info_content }}

  <div class="ratings__listing">
    <header class="ratings__header">
      {% if keywords %}
        <div class="ratings__hits-total">{% trans %}{{ hits_total }} results{% endtrans %}</div>
      {% endif %}
      <div class="ratings__sort-results">
        <select>
          <option value="Sort results by">Sort results by</option>
        </select>
      </div>
    </header>

    <div class="table js-table">
      <div class="table__row table__row--header js-table-header">
        <div class="table__item table__item--large">{% trans %}Name{% endtrans %}</div>
        <div class="table__item">{% trans %}Rating{% endtrans %}</div>
        <div class="table__item">{% trans %}Authority{% endtrans %}</div>
      </div>
      {{ items }}

      {% if hits_total > hits_shown %}
        <button>{% trans %}Show more results{% endtrans %}</button>
        {% trans %}Displaying {{ hits_shown }} of {{ hits_total }} items{% endtrans %}
      {% endif %}
    </div>
  </div>
</div>
