{#
/**
 * @file fsa_establishment.html.twig
 * Default theme implementation to present FSA Establishment entity
 *
 * Available variables (@see fsa_ratings_theme():
 * - content: All fields from establishment entity.
 * - find_more_title: Title for "find more about ratings.
 * - find_more_link_ratings: Link to ratings meaning page.
 * - find_more_link_fhrs: Link to FHRS explanation page.
 * - righttoreply_title: Right to reply explanatory title
 * - righttoreply_copy: Right to reply explanatory copy
 * - business_owner_title: Title for business owner guidance.
 * - business_owner_copy1: Copy paragraph 1 for business owners.
 * - business_owner_copy2: Copy paragraph 1 for business owners.
 * - rating_badge_title: Title for "Get badge" heading.
 * - rating_badge_copy: "Get badge" explanation copy.
 * - rating_badge_cta: "Get badge" CTA link.
 * - copy_of_report_title: Heading for report copy explanation
 * - copy_of_report_copy: COpy text for report copy explanation
 *
 * @see template_preprocess_fsa_establishment()
 *
 * @ingroup themeable
 */
#}
{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<div class="ratings js-sticky-container">

  <button class="ratings__search-expand-button toggle-button js-toggle-button" aria-expanded="false" aria-controls="collapsible-{{ randomID }}">
    <div class="toggle-button__item">{% trans %}Show search options{% endtrans %}</div>
    <div class="toggle-button__item toggle-button__item--icon svg">
      <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#toggle-icon"></use></svg>
    </div>
  </button>

  <div class="ratings__search js-sticky-element toggle-content toggle-content--only-mobile js-toggle-content js-toggle-content-only-mobile" id="collapsible-{{ randomID }}" aria-hidden="true">
    <div class="container container--search">
      <div class="ratings__logo logo svg">
        <svg role="presentation"><use xlink:href="/themes/custom/fsa/dist/sprite.svg#logo-desktop-white"></use></svg>
      </div>

      {{ search_form }}
    </div>
  </div>

  <div class="ratings__content">
    <header class="ratings__header rating__header--back-link">
      {{ backlink }}
    </header>

    <div class="establishment">
      <div class="establishment__container">
        <h1>{{ content.name }}</h1>

        <div class="establishment__rating">
          {{ rating_badge }}
          <h4>{{ find_more_title }}</h4>
          <ul>
              <li>{{ find_more_link_ratings }}</li>
              <li>{{ find_more_link_fhrs }}</li>
          </ul>
        </div>

        <div class="establishment__content">
          {% if content.field_address %}
            <p>
              <strong>{% trans %}Address{% endtrans %}</strong><br />
              {{ content.field_address }}<br />
              {{ content.field_postcode }}
            </p>
          {% endif %}

          {% if content.field_businesstype %}
            <p>
              <strong>{% trans %}Business type{% endtrans %}</strong><br />
              {{ content.field_businesstype }}
            </p>
          {% endif %}

          {% if content.field_ratingdate %}
            <p>
              <strong>{% trans %}Inspection date{% endtrans %}</strong><br />
              {{ content.field_ratingdate }}
            </p>
          {% endif %}

          <p>
            {{ content|without(
            'field_geocode',
            'field_localauthoritycode',
            'field_righttoreply',
            'field_score_hygiene',
            'field_score_structural',
            'field_score_confidence',
            'field_score_hygiene',
            'field_address',
            'field_postcode',
            'field_phone',
            'field_ratingdate',
            'field_businesstype',
            'name'
            ) }}
          </p>
        </div>

        {% if (content.field_score_hygiene|length == 2 and content.field_score_structural|length == 2 and content.field_score_confidence|length == 2) %}
        {% else %}
        <div class="table table--with-borders establishment__table js-table" role="grid">
          <div class="table__row table__row--header js-table-header" role="row">
            <div class="table__item" role="columnheader">{{ 'Area inspected by food safety officer'|t }}</div>
            <div class="table__item" role="columnheader">{{ 'Standards found'|t }}</div>
          </div>
          {{ content.field_score_hygiene }}
          {{ content.field_score_structural }}
          {{ content.field_score_confidence }}
        </div>
        {% endif %}

        <div class="container container--text">
          {{ content.field_geocode }}

          {% if content.field_righttoreply|render %}
              {{ content.field_righttoreply }}
              <h4>{{ righttoreply_title }}</h4>
              <p>{{ righttoreply_copy }}</p>
          {% endif %}

          <h4>{{ business_owner_title }}</h4>
          <p>{{ business_owner_copy1 }}</p>
          <p>{{ business_owner_copy2 }}</p>

          <h4>{{ rating_badge_title }}</h4>
          <p>{{ rating_badge_copy }}</p>
          {{ rating_badge_cta }}

          <h4>{{ copy_of_report_title }}</h4>
          <p>{{ copy_of_report_copy }}</p>

          <p>{{ content.field_localauthoritycode }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
