<div class="ratings">
  <div class="ratings__search">
    <div class="logo">
      <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#logo-desktop"></use></svg>
    </div>
    <h2>{% trans %}Food Hygiene Ratings Search{% endtrans %}</h2>
    <form id="fsa-ratings-search">
      <input type="text" id="fsa-ratings-search-keywords" value="{{ keywords }}" />
      <input type="submit" value="{% trans %}Search{% endtrans %}" />
    </form>
  </div>

  <div class="ratings__listing">
    <div class="fsa-ratings-items">
      {% if keywords %}
        <h2>{% trans %}Search results for {{ keywords|placeholder }}{% endtrans %}</h2>
      {% endif %}

      <div class="table js-table">
        <div class="table__row table__row--header js-table-header">
          <div class="table__item">{% trans %}Name{% endtrans %}</div>
          <div class="table__item">{% trans %}Address{% endtrans %}</div>
        </div>
        {{ items }}
      </div>
    </div>

    {% if categories %}
    <div class="fsa-ratings-categories">
      <h2>{% trans %}Categories{% endtrans %}</h2>
      <ul>
      {% for cat in categories %}
        <li>{{ cat.label }} ({{ cat.count }})</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>

<script type="application/javascript">
  document.getElementById('fsa-ratings-search').addEventListener('submit', function(event){
    var keywords = document.getElementById('fsa-ratings-search-keywords').value;
    location.href = '/ratings/search/' + keywords;
    event.preventDefault();
  });
</script>
