{#
/**
 * @file fsa-ratings-search-result-item.html.twig
 * Theme implementation for FSA Ratings search result item.
 *
 * Available variables:
 * - item: Array of the item properties.
 *
 * @see fsa_ratings\Controller\RatingsSearch
 * @ingroup themeable
 */
#}
{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<div class="ratings__mobile-item table__button js-content-next">
  <a href="{{ item.url }}" class="ratings__mobile-link">
    <div class="ratings__mobile-rating-value">
      {% if item.ratingvalue == "Exempt" %}
        <div class="svg">
          <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#exempt-icon"></use></svg>
        </div>
      {% elseif item.ratingvalue == "AwaitingInspection" %}
        <div class="svg">
          <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#awaiting-icon"></use></svg>
        </div>
      {% else %}
        {{ item.ratingvalue }}
      {% endif %}
    </div>
    
    <div class="ratings__mobile-name">
      {% if item.name %}
        <h3>{{ item.name }}</h3>
      {% endif %}
      {% if item.address %}
        <p>{{ item.address }}</p>
      {% endif %}
      {% if item.postcode %}
        <p>{{ item.postcode }}</p>
      {% endif %}
    </div>
  </a>
  <button class="ratings__toggle-button toggle-button js-toggle-button" aria-expanded="false" aria-controls="collapsible-{{ randomID }}">
    <div class="svg">
      <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#nav-arrow-icon"></use></svg>
    </div>
  </button>
</div>


<div class="ratings__item table__row toggle-content toggle-content--only-mobile js-toggle-content js-toggle-content-only-mobile" id="collapsible-{{ randomID }}" aria-hidden="true" role="row">
  <div class="table__item table__item--large" role="gridcell">
    <div class="table__content">
      {% if item.name %}
        <h3><a href="{{ item.url }}">{{ item.name }}</a></h3>
      {% endif %}
      {% if item.address %}
        <p>{{ item.address }}</p>
      {% endif %}
      {% if item.postcode %}
        <p>{{ item.postcode }}</p>
      {% endif %}
    </div>
  </div>
  <div class="table__item" role="gridcell">
    <div class="table__content ratings__badge">
      {{ item.ratingimage }}
    </div>
  </div>
  <div class="table__item" role="gridcell">
    <div class="table__content">
        {{ item.ratingdate }}
        {% if item.newratingpending %}
            <p>{{ item.newratingpending }}</p>
        {% endif %}
        {% if item.righttoreply %}
            <p>{{ item.righttoreply }}</p>
        {% endif %}
    </div>
  </div>
</div>
