<div class="ratings js-sticky-container">
  <div class="ratings__search js-sticky-element">
    <div class="logo">
      <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#logo-desktop"></use></svg>
    </div>
    <h3 class="ratings__heading">{% trans %}Food Hygiene Ratings Search{% endtrans %}</h3>
    {{ form }}
  </div>

  <div class="ratings__listing">
    <header class="ratings__header">
      {% if keywords %}
        <div class="ratings__hits-total">{% trans %}{{ hits_total }} results{% endtrans %}</div>
      {% endif %}
      <div class="ratings__sort-results">
        <select>
          <option value="Sort results by">Sort results by</option>
        </select>
      </div>
    </header>

    <div class="table js-table">
      <div class="table__row table__row--header js-table-header">
        <div class="table__item table__item--large">{% trans %}Name{% endtrans %}</div>
        <div class="table__item">{% trans %}Rating{% endtrans %}</div>
        <div class="table__item">{% trans %}Authority{% endtrans %}</div>
      </div>
      {{ items }}
    </div>
  </div>
</div>


{% if hits_total > hits_shown %}
  <button>{% trans %}Show more results{% endtrans %}</button>
  {% trans %}Displaying {{ hits_shown }} of {{ hits_total }} items{% endtrans %}
{% endif %}
