<div class="ratings__mobile-header toggle-button js-toggle-button">
  <div class="ratings__mobile-header-rating">5</div>
  <h3 class="ratings__mobile-header-heading">{{ item.name }}</h3>
  <div class="ratings__mobile-header-icon toggle-button__toggle-icon svg">
    <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#toggle-icon"></use></svg>
  </div>
</div>

<div class="ratings__item table__row toggle-content js-toggle-content">
  <div class="table__item table__item--large">
    <div class="table__content">
      {% if item.name %}
        <h3>{{ item.name }}</h3>
      {% endif %}
      {% if item.address %}
        <p>{{ item.address }}</p>
      {% endif %}
      {% if item.postcode %}
        <p>{{ item.postcode }}</p>
      {% endif %}
    </div>
  </div>
  <div class="table__item">
    <div class="table__content">{{ item.ratingvalue }}</div>
  </div>
  <div class="table__item">
    {% for local_authority in item.localauthoritycode %}
      <div class="table__content">{{ local_authority.label }}</div>
    {% endfor %}
  </div>
</div>
