<div>
    <h4>{{ 'Area inspected by food safety officer'|t }}</h4>
    <p><strong>{{ title }}</strong></p>
    <p>{{ description }}</p>
</div>
<div>
    <h4>{{ 'Standards found'|t }}</h4>
    <div>{{ score }}</div>
</div>