{#
/**
 * @file fsa-ratings-search-result-item.html.twig
 * Theme implementation for FSA Ratings search result item.
 *
 * Available variables:
 * - item: Array of the item properties.
 *
 * @see fsa_ratings\Controller\RatingsSearch
 * @ingroup themeable
 */
#}
<h3><a href="{{ item.url }}</div>">{{ item.name }}</a></h3>

<div>{{ 'Rating value'|t }}: {{ item.ratingvalue }}</div>

<strong>{{ 'Address'|t }}</strong>
<div>{{ item.address }}</div>
<div>{{ item.postcode }}</div>

<div>{{ item.ratingimage }}</div>

<div>{{ 'Rating date'|t }}: {{ item.ratingdate }}</div>

{% if item.newratingpending %}
    <div>{{ item.newratingpending }}</div>
{% endif %}

{% if item.righttoreply %}
    <div>{{ item.righttoreply }}</div>
{% endif %}
