{#
/**
 * @file
 * FSA theme override for Large promo paragraph field.
 *
 * Additional variables:
 * - item.image_as_background: Promo image element as background
 *
 * @see fsa_lander_preprocess_field()
 * @see template_preprocess_field()
 */
#}
{% set image_class = 'image-wrapper' %}
{% set content_class = 'content-wrapper' %}
<div{{ attributes }}>
    {% for item in items %}
        <div{{ item.attributes }}>
            {% if item.image_as_background %}
                <div class="{{ image_class }}">
                    {{ item.image_as_background }}
                </div>
            {% endif %}
            <div class="{{ content_class }}">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
</div>