{#
/**
 * @file
 * FSA theme override for Content promo paragraph field.
 *
 * Additional variables:
 * - item.promo_img_path: Promo image element
 *
 * Note: variable|render|striptags|trim to avoid issues with twig debugging turned on.
 *
 * @see fsa_lander_preprocess_field()
 * @see template_preprocess_field()
 */
#}
{% set image_class = 'image-wrapper' %}
{% set content_class = 'content-wrapper' %}
<div{{ attributes }}>
    {% for item in items %}
        {% if item.content.field_link|render|striptags|trim and not item.content.field_link_list|render|striptags|trim %}
            <a href="{{ item.content.field_link|render|striptags|trim }}" {{ item.attributes }}>
                <div class="{{ image_class }}">
                    {{ item.promo_img_path }}
                </div>
                <div class="{{ content_class }}">
                    {{ item.content|without('field_link') }}
                </div>
            </a>
        {% else %}
            <div{{ item.attributes }}>
                <div class="{{ image_class }}">
                    {{ item.promo_img_path }}
                </div>
                <div class="{{ content_class }}">
                    {{ item.content|without('field_link') }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>