<div{{ attributes }}>
    <div class="message">
        <p>{{ message }}</p>
    </div>
    <div class="name">
        <strong>{{ name }}</strong>
    </div>
    <div class="mail">
        {{ mail }}
    </div>
    <div class="site">
        {{ site }}
    </div>
</div>