<div{{ attributes }}>
    <div class="message">
        <p>{{ message }}</p>
    </div>
    <div class="authority">
        <div class="name">
            <strong>{{ name }}</strong>
        </div>
        <div class="mail">
            {{ 'Email address'|t }}: {{ mail }}
        </div>
        <div class="site">
            {{ 'Website'|t }}: {{ site }}
        </div>
    </div>
</div>