<div{{ attributes }}>
  {% if message %}
    <div class="message">
      <p>{{ message }}</p>
    </div>
  {% endif %}
  {% if (site or mail) %}
    <div class="authority">
      {% if site %}
        <div class="site">
          {{ site }}
        </div>
      {% endif %}
      {% if mail %}
        <div class="mail">
          {{ 'Email address'|t }} - {{ mail }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
