{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}

<div class="node-teaser{% if content.field_liftup_summary %} node-teaser--with-summary{% endif %}">
  <article{{ attributes }}>
    <a href="{{ url }}" rel="bookmark" class="node-teaser__link block-link">
      {% if content.group_teaser_image %}
        <div class="node-teaser__image">
          {{ content.group_teaser_image }}
        </div>
      {% endif %}

      <div class="node-teaser__content">
        <h4{{ title_attributes }} class="node-teaser__heading">{{ label }}</h4>
        {% if content.field_liftup_summary|length > 2 %}
          {{ content|without('group_teaser_image') }}
        {% endif %}
      </div>

      <div class="node-teaser__read-more">
        <div class="svg">
          <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#contact-arrow-icon"></use></svg>
        </div>
      </div>
    </a>
  </article>
</div>
