{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}
<a href="{{ url }}" rel="bookmark" class="node-teaser">
  <article{{ attributes }}>
    <div class="node-teaser__container">
      <div class="node-teaser__image">
        {{ content.field_icon }}
      </div>

      <div class="node-teaser__content">
        <h4{{ title_attributes }} class="node-teaser__heading">{{ label }}</h4>
      </div>
    </div>
  </article>
</a>
