{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}
{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<div class="node-teaser{% if content.field_liftup_summary %} node-teaser--with-summary{% endif %}">
  <article{{ attributes }}>
    <a href="{{ url }}" rel="bookmark" class="block-link">
      <div class="node-teaser__container">
        {% if content.group_teaser_image %}
          <div class="node-teaser__image">
            {{ content.group_teaser_image }}
          </div>
        {% endif %}
        <header class="node-teaser__header">
          <h4{{ title_attributes }} class="node-teaser__heading">{{ label }}</h4>
        </header>

        {% if content.field_liftup_summary|length > 2 %}
          <div class="node-teaser__content">
            {{ content|without('group_teaser_image') }}
          </div>
        {% endif %}
      </div>
    </a>

    {% if content.field_liftup_summary %}
      <button class="node-teaser__read-more toggle-button js-toggle-button" aria-expanded="false" aria-controls="collapsible-{{ randomID }}">
        <div class="node-teaser__read-more-text">{{ 'More information'|t }}</div>
        <div class="node-teaser__read-more-icon svg">
          <svg role="presentation"><use xlink:href="/themes/custom/fsa/dist/sprite.svg#arrow-icon"></use></svg>
        </div>
      </button>

      <div class="node-teaser__read-more-content toggle-content js-toggle-content" id="collapsible-{{ randomID }}" aria-hidden="true">
        {{ content|without('group_teaser_image') }}
      </div>
    {% endif %}
  </article>
</div>
