{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}
<a href="{{ url }}" rel="bookmark" class="block-link">
  <article{% if content.field_liftup_summary %}{{ attributes.addClass(['promo', 'promo--inline-content', 'promo--with-summary']) }}{% else %}{{ attributes.addClass(['promo', 'promo--inline-content']) }}{% endif %}>
    {% if content.group_teaser_image %}
      <div class="promo__icon">
        {{ content.group_teaser_image }}
      </div>
    {% endif %}

    <div class="promo__content">
      <h4{{ title_attributes }} class="promo__heading">{{ label }}</h4>
      {% if content.field_liftup_summary|length > 2 %}
        {{ content|without('group_teaser_image') }}
      {% endif %}
    </div>

    <div class="promo__read-more">
      <div class="svg">
        <svg><use xlink:href="/themes/custom/fsa/dist/sprite.svg#contact-arrow-icon"></use></svg>
      </div>
    </div>
  </article>
</a>

