{#
/**
 * @file
 * Default node template override to display a teaser.
 *
 * @see template_preprocess_node()
 */
#}
<a href="{{ url }}" rel="bookmark" class="node-teaser">
  <article{{ attributes }}>
    <figure>
      {{ content.field_icon }}
      <figcaption><h4{{ title_attributes }} class="node-teaser__heading">{{ label }}</h4></figcaption>
    </figure>
  </article>
</a>
