{#
/**
 * @file
 * Theme override to display the user satisfaction form block.
 *
 * Template was created to put the title inside a button for opening the accordion.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <button id="open-satisfaction-form" type="button" value="open" class="toggler open-satisfaction-form">{{ label }}</button>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
