<div class="site layout">
  <main role="main" class="layout-content">
    <div class="layout">
      <h2>{{ status_code }} - {{ status_description }}</h2>
      <p>
        <a href="{{ path('<front>') }}" title="{{ 'Return to homepage'|t }}" rel="home">{{ 'Return to homepage'|t }}</a>
      </p>
    </div>
  </main>
</div>