{#
/**
 * @file fsa_establishment.html.twig
 * Default theme implementation to present FSA Establishment entity
 *
 * Available variables (@see fsa_ratings_theme():
 * - content: All fields from establishment entity.
 * - find_more_title: Title for "find more about ratings.
 * - find_more_link_ratings: Link to ratings meaning page.
 * - find_more_link_fhrs: Link to FHRS explanation page.
 * - righttoreply_title: Right to reply explanatory title
 * - righttoreply_copy: Right to reply explanatory copy
 * - business_owner_title: Title for business owner guidance.
 * - business_owner_copy1: Copy paragraph 1 for business owners.
 * - business_owner_copy2: Copy paragraph 1 for business owners.
 * - rating_badge_title: Title for "Get badge" heading.
 * - rating_badge_copy: "Get badge" explanation copy.
 * - rating_badge_cta: "Get badge" CTA link.
 * - copy_of_report_title: Heading for report copy explanation
 * - copy_of_report_copy: COpy text for report copy explanation
 *
 * @see template_preprocess_fsa_establishment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fsa_establishment') }}>
    {{ backlink }}

    <div class="rating">
        {{ rating_badge }}
        <h4>{{ find_more_title }}</h4>
        <ul>
            <li>{{ find_more_link_ratings }}</li>
            <li>{{ find_more_link_fhrs }}</li>
        </ul>
    </div>

    {{ content|without('field_geocode', 'field_localauthoritycode', 'field_righttoreply') }}

    {{ content.field_geocode }}

    {% if content.field_righttoreply|render %}
        {{ content.field_righttoreply }}
        <h4>{{ righttoreply_title }}</h4>
        <p>{{ righttoreply_copy }}</p>
    {% endif %}

    <h4>{{ business_owner_title }}</h4>
    <p>{{ business_owner_copy1 }}</p>
    <p>{{ business_owner_copy2 }}</p>

    <h4>{{ rating_badge_title }}</h4>
    <p>{{ rating_badge_copy }}</p>
    {{ rating_badge_cta }}

    <h4>{{ copy_of_report_title }}</h4>
    <p>{{ copy_of_report_copy }}</p>

    {{ content.field_localauthoritycode }}
</div>
