{#
/**
 * @file fsa-ratings-search-page.html.twig
 * Theme implementation for FSA Ratings search result page.
 *
 * Available variables:
 * - form: the search form with it's header.
 * - sort_form: Result sotring form.
 * - keywords: The search  keyword(s)
 * - items: The actual search items.
 * - ratings_info_content: Introductional content copy for Ratings search.
 * - hits_total: Total number of results.
 * - hits_shown: Number of hits shown on page.
 * - load_more: Load more ajax trigger.
 *
 * @ingroup themeable
 */
#}
{{ form }}

{% if sort_form %}
  <div>{{ hits_total }} {{ 'Results'|t }}</div>
  <div>{{ sort_form }}</div>
{% endif %}

{{ ratings_info_content }}

{% if items %}
  <div class="fsa-ratings-items">
    {% if keywords %}
      <h2>{% trans %}Search results for {{ keywords|placeholder }}{% endtrans %}</h2>
    {% endif %}

      {{ items }}
  </div>
{% endif %}

{% if hits_total > hits_shown %}
  <div class="result-counter">
      {% trans %}Displaying <span class="hits-shown">{{ hits_shown }}</span> of <span class="hits-total">{{ hits_total }}</span> items{% endtrans %}
  </div>
{% endif %}
{{ load_more }}

