{{ form }}

{{ sort_form }}

<!-- search result list: -->
<div class="fsa-ratings-items">
  {% if keywords %}
    <h2>{% trans %}Search results for {{ keywords|placeholder }}{% endtrans %}</h2>
  {% endif %}

  {{ items }}
</div>
<!-- / search result list -->

{% if hits_total > hits_shown %}
  <button>{% trans %}Show more results{% endtrans %}</button>
  {% trans %}Displaying {{ hits_shown }} of {{ hits_total }} items{% endtrans %}
{% endif %}

