{% set randomID = [] %}
{% for i in 1..10 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ numbers ~ '-_') %}
    {% set randomID = randomID|merge([randomCharacter]) %}
{% endfor %}
{% set randomID = randomID|join %}

<button class="toggle-button table__button establishment__table-button" data-state="is-open" data-theme="dynamic" data-state-element="#collapsible-{{ randomID }}" data-breakpoint="mobile" aria-expanded="false"  aria-controls="collapsible-{{ randomID }}">
  <div class="toggle-button__item"><strong>{{ title }}</strong></div>
  <div class="toggle-button__item toggle-button__item--align-right establishment__score">{{ score }}</div>
  <div class="toggle-button__item toggle-button__item--icon svg">
    {{ include('/themes/custom/fsa/template/base/svg-sprite.html.twig', {icon_id: 'toggle-icon'}) }}
  </div>
</button>

<div class="table__row toggle-content toggle-content--only-mobile js-toggle-content js-toggle-content-only-mobile" id="collapsible-{{ randomID }}" aria-hidden="true" role="row">
  <div class="table__item table__item--large" role="gridcell">
    <div class="table__content">
      <!-- <h4>{{ 'Area inspected by food safety officer'|t }}</h4> -->
      <p><strong>{{ title }}</strong></p>
      <p>{{ description }}</p>
    </div>
  </div>
  <div class="table__item" role="gridcell">
    <div class="table__content">
      <!-- <h4>{{ 'Standards found'|t }}</h4> -->
      <p><strong>{{ score }}</strong></p>
    </div>
  </div>
</div>
